body {
  margin: 0;
}

* {
  box-sizing: border-box;
  background-color: #192734;
}

#About {
  background-color: #192734;
  color: #fff;
  text-align: center;
}

#Home {
  background-color: #192734;
  color: #fff;
  text-align: center;
}
